# Git
.git
.gitignore

# Docker
docker-compose.yml
.dockerignore

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.venv/
**/venv/
**/.venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
**/node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db

# IDE configuration
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/
.coverage
htmlcov/
